body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('../assets/images/headerBkg.png');
    background-size: 100% 100%;
    height: 400px;

    padding: 10px 0;
    text-align: center;

}



main {
    padding: 20px;
    display: block;
    width: 35%;
    margin: 0 auto;
    border: 4px solid #010101;
}

.update-button input {
    display: inline-block;
    background-color: #19ff3f;
    text-decoration: none;
    color: #060606;
    border-radius: 2px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.update-button input:hover {
    background-color: #19a330;
}

.updatePlayer-button input {
    display: inline-block;
    background-color: #19ff3f;
    text-decoration: none;
    color: #060606;
    border-radius: 2px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.updatePlayer-button input:hover {
    background-color: #19a330;
}

.save-button {

    margin: 25px 0;
    padding: 3px 15px;
    background-color: #11b4fa;
    text-decoration: none;
    color: #fbfafa;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #238bcc;
}

.save-button a {
    color: #fbfafa;
    text-decoration: none;
}


h1 {
    margin: 0;
    color: rgb(255, 255, 255);
    padding-top: 190px;
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
th, td {
    border: 1px solid #060606;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: #333;
    text-align: center;
}
label{
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

#data input {
    float: left;
    margin-bottom: .5em;
    width: 15em;
}

#data span {
    padding: .25em;
}

#buttons input {
  margin-bottom: .5em;
}
br {
    clear: left;
}

p {

    color: #faf8f8;
}

footer {
    background-color: #464646;
    text-align: center;
    padding-top: 45px;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}