body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('../assets/images/headerBkg.png');
    background-size: 100% 100%;
    height: 400px;

    padding: 10px 0;
    text-align: center;

}

main {
    padding: 20px;
    display: block;
    width: 98.1%;
    margin: 0 auto;
    border: 4px solid #010101;
}

h1 {
    margin: 0;
    color: rgb(255, 255, 255);
    padding-top: 190px;
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
th, td {
    border: 1px solid #060606;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: #333;
    text-align: center;
}


p {
    padding-top: 80px;
    color: #faf8f8;
}
footer {
    background-color: #464646;
    text-align: center;
    padding: 10px 0;
    height: 200px;
    position: relative;
    bottom: 0;
    width: 100%;
}