body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('../assets/images/headerBkg.png');
    background-size: 100% 100%;
    height: 400px;

    padding: 10px 0;
    text-align: center;

}
#logo {
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 50px;
  width: 140px;


}
  #logo > img {
    width: 140px;
    border-radius: 50%;

  }
  #logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
#social {
  position: absolute;
  z-index: 7;
  top: 50px;
  right: 50px;
  width: 225px;
}
#social > .socialDragonbit:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
#social > .socialLinkedin:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
#social > .socialTwitter:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.container {
    max-width: 600px;
    margin: 20px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
}

.player-image{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.player-info {
    text-align: center;
}

.player-info p {
    margin: 8px 0;
    font-size: 18px;
    color: #444;
}

.back-link {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 16px;
    background-color: #010101;
    text-decoration: none;
    color: #fbfafa;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #444444;
}

.update-button input {
    display: inline-block;
    background-color: #19ff3f;
    text-decoration: none;
    color: #060606;
    border-radius: 2px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.update-button input:hover {
    background-color: #19a330;
}

.delete-button input {
    display: inline-block;
    background-color: #ff1616;
    text-decoration: none;
    color: #060606;
    border-radius: 2px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.delete-button input:hover {
    background-color: #a21515;
}

.details-button input {
    display: inline-block;
    background-color: #010101;
    text-decoration: none;
    color: #fbfafa;
    border-radius: 2px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.details-button input:hover {
    background-color: #5d5d5d;
}

.add-button {
    display: block;
    border: #010101 solid 2px;
    margin: 25px 10px ;
    width: fit-content;
    padding: 10px 15px;
    background-color: #11b4fa;
    text-decoration: none;
    color: #fbfafa;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #238bcc;
}

.add-button a {
    color: #fbfafa;
    text-decoration: none;
}

.logout-button {
    border: #010101 solid 2px;
    margin: 25px  10px ;
    width: fit-content;
    display: block;
    padding: 10px 48px;
    background-color: #11b4fa;
    text-decoration: none;
    color: #fbfafa;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #238bcc;
}

.logout-button a {
    color: #fbfafa;
    text-decoration: none;
}





main {
    padding: 20px;
    display: block;
    width: 98.1%;
    margin: 0 auto;
    border: 4px solid #010101;
}

h1 {
    margin: 0;
    color: rgb(255, 255, 255);
    padding-top: 190px;
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
th, td {
    border: 1px solid #060606;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
label{
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

#data input {
    float: left;
    margin-bottom: .5em;
    width: 15em;
}

#data span {
    padding: .25em;
}

#buttons input {
  float: left;
  margin-bottom: .5em;
}
br {
    clear: left;
}

p {

    color: #faf8f8;
}
#p2 {
    color: #090909;
    font-size: 1.2em;
}   
h3 {
    color: #050505;
}
footer {
    background-color: #464646;
    text-align: center;
    padding-top: 45px;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}